<div class="container second-portion">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
          <div class="info">
            <h3 class="title">{{email_section}}</h3>
            <p *ngFor="let workOffice of workOffices">
              <b>Studio di {{workOffice.city}} ({{workOffice.province}})</b>
              <br>
              <i class="fa fa-envelope" aria-hidden="true"></i> {{workOffice.email}}
              <br>
              <br>
            </p>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
          <div class="info">
            <h3 class="title">{{phone_num_section}}</h3>
            <p *ngFor="let workOffice of workOffices">
              <b>Studio di {{workOffice.city}} ({{workOffice.province}})</b>
              <br>
              <i class="fa fa-mobile" aria-hidden="true"></i> {{workOffice.phone_number}}
              <br>
              <br>
            </p>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <div class="info">
            <h3 class="title">{{address_section}}</h3>
            <p *ngFor="let workOffice of workOffices">
              <b>Studio di {{workOffice.city}} ({{workOffice.province}})</b>
              <br>
              <i class="fa fa-map-marker" aria-hidden="true"></i> {{workOffice.street}}, {{workOffice.number}} - {{workOffice.post_code}}
              <br>
              <br>
            </p>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>
  </div>
</div>
