<div class="container-fluid timeline-container text-center">
      
  <div class="card hovercard mb-5">
      <div class="cardheader">
          <div class="info">
              <div class="title text-white">
                  <h3><b>Lisa Battisti</b></h3>
              </div>
              <div class="desc"><i>Dott.ssa Psicologa</i></div>
          </div>
      </div>
      <div class="avatar">
          <img alt="" src="./assets/about-me-image.jpg">
      </div>
      <!-- Grid column -->
      <div class="mt-3">
        <!-- Content -->
        <a href="https://www.linkedin.com/in/lisa-battisti-648453a4" style="color: inherit;">
          <i class="fa fa-linkedin-square fa-2x mr-1"></i>
        </a>
        <a href="https://www.facebook.com/battisti.psicologa/" style="color: inherit;">
          <i class="fa fa-facebook-square fa-2x mr-1" ></i>
        </a>
      </div>
      <!-- Grid column -->
  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Introduzione">
      <html class="m-5 text-left">Dopo aver terminato la laurea in Scienze e Tecniche Psicologiche presso l'UNIFI, decido di trasferirmi a Milano, per poter frequentare un corso di laurea incentrato sulla Tutela dell'Infanzia. <br> Durante il percorso di studi sono stati trattati - con esercitazioni pratiche - temi come: l'audizione dei minori; il trattamento degli autori di reati sessuali; la valutazione delle competenze genitoriali.<br> 
        <hr>
        A Luglio 2015, ho conseguito la laurea in Psicologia dello Sviluppo e della Comunicazione, discutendo la tesi "Riconoscere il Disagio Infantile, attraverso i Segni Grafici. Uno Studio Sulle Vittime del Maltrattamento", frutto di due anni di ricerca, che intendeva verificare se vi erano differenze significative tra l'espressione del disagio, sia nelle rappresentazioni grafiche che nel comportamento, dei minori vittime di maltrattamento residenti in comunità, e dei i coetanei non segnalati presso il Tribunale.<br>
        Ho, in seguito, svolto il tirocinio post-lauream prima presso l'Istituto di Terapia Familiare di Siena specializzato in Psicologia Giuridica e poi presso il Centro Famiglie, Affidi e Adozioni "Baobab" di Colle di Val d'Elsa (SI).<br>
        <hr>
        Sono iscritta all'albo degli Psicologi della Toscana, n° 8001, a partire da Febbraio 2017.<br>
        <hr>
        Sono inoltre, da sempre, interessata all'utilizzo dei test grafici e dei reattivi psicologici in generale. In entrambe le tesi ho infatti utilizzato sia i test grafici (disegno della famiglia, disegno del bambino sotto la pioggia e disegno della Figura Umana) che questionari per valutare i comportamenti dei minori (CBCL e PROPS). Ho quindi deciso di incrementare la mia formazione frequentando un Master biennale in Psicodiagnostica Clinica e Forense, per l'utilizzo dei più importanti reattivi psicodiagnostici (Rorschach, TAT, MMPI 2, SCIID, WISC, WAIS ... ).<br> 
        Ed infine, ho seguito un corso professionalizzante per la figura di Consulente Tecnico in ambito Psicologico (CTU, CTP), poiché sono particolarmente interessata all'ambito giuridico-peritale.
      </html>
    </mat-tab>
    <mat-tab label="Formazione/Esperienze">
      <app-timeline [timelineEvents]=timelineEvents class="m-5"></app-timeline>
    </mat-tab>
    <mat-tab label="Contatti">
      <div class="row justify-content-md-center">
        <p class="col-1 m-5"><i class="fa fa-phone fa-2x mr-1"></i> 32213535153135</p>
        <p class="col-1 m-5"><i class="fa fa-envelope fa-2x mr-1"></i> fsafsdsd@gdfgds.it</p>
      </div>
    </mat-tab>
  </mat-tab-group>
  
</div>