<div class="container-fluid row">

  <div class="col-md-5">
    <div class="jumbotron text-center row">
      <div class="col p-0" style="max-width: 200px">
        <!-- Title -->
        <h4 class="card-title h4"><strong>Utenti online</strong></h4>
        <!-- Card image -->
        <div class="view overlay">
            <ngx-charts-number-card 
            [cardColor]="color"
            [bandColor]="bandColor"
            [results]="usersOnline"
            (select)="onSelect($event)">
          </ngx-charts-number-card>
        </div>
      </div>
      <div class="col p-0" style="max-width: 350px">
        <!-- Title -->
        <h4 class="card-title h4"><strong>Tempo medio di ogni visita</strong></h4>
        <!-- Card image -->
        <div class="view overlay">
            <ngx-charts-number-card
              [cardColor]="color"
              [bandColor]="'#1310A1'"
              [results]="timeAverage"
              (select)="onSelect($event)">
            </ngx-charts-number-card>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md">
    <div class="jumbotron text-center">
      <!-- Title -->
      <h4 class="card-title h4"><strong>Visite settimanali</strong></h4>
      <!-- Card image -->
      <div class="view overlay">
          <ngx-charts-line-chart
            [results]="lineChartValues"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="false"
            (select)="onSelect($event)">
          </ngx-charts-line-chart>
      </div>
    </div>
  </div>
</div>
