<div *ngIf="isLoaded" class=" grey lighten-1 row justify-content-center p-0 m-0">
  <app-carousel-main-posts *ngIf="countOfMainTopic() > 1" [datas]="postsArguments" ></app-carousel-main-posts>
  <app-card-news class="m-4 news-flex-content-center" *ngIf="countOfMainTopic() === 1" [data]="postsArguments[0]" [isImportant]="true"></app-card-news>
</div>

<ul class="nav justify-content-center grey lighten-2 py-3">
  <!-- Grid row -->
  <div class="row container-fluid justify-content-center">
    <div class="justify-content-center">
      Filtra per argomenti:
    </div>
    <div class="col-md-4">
      <ng-select
        [(ngModel)] = "selected"
        (ngModelChange)="onSelect(selected)"
        [items]="postTopics"
        bindLabel="topic"
        bindValue="topic"
        [multiple]="true"
        [closeOnSelect]="true"
        [searchable]="false"
        placeholder="Seleziona gli argomenti">
      </ng-select>
    </div>
  </div>
</ul>

<ng-container *ngFor="let post of listOfPosts">
  <app-card-news class="m-4" style="display: flex; justify-content: center;" [data]="post" [isImportant]="false"></app-card-news>
</ng-container>
