.work-card {
  max-height: 80vh;
}

.introduction{
  min-height: 85vh;
}

.introduction-image {
  max-height: 200px;
}

h2 {
  font-family: "Montserrat",Corbel,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {

  .services-title {
    display: contents;
    font-size: 25px;
  }
}

@media (min-width: 767px) {

  .services-title {
    display: contents;
  }
}
