a {
  color:inherit;
}

.left-line-white {
  border-left: 2px solid white;
  max-height: fit-content;
}

.left-line-black {
  border-left: 2px solid black;
  max-height: fit-content;
}

.right-line-white {
  border-right: 2px solid white;
  max-height: fit-content;
}

.bottom-line-white {
  border-bottom: 3px solid white;
  max-width: fit-content;
}

.border-line-black {
  border: 2px solid black;
  max-height: fit-content;
  max-width: fit-content;
}
